<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <app-schedule-form
        [loadingCommerceList]="loadingCommerceList"
        [commerceList]="commerceList"
        [loadingServiceList]="loadingServiceList"
        [serviceList]="serviceList"
      ></app-schedule-form>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
      <app-schedule-list
        [loadingTurnList]="loadingTurnList"
        [turnList]="turnList"
      ></app-schedule-list>
    </div>
  </div>
</div>
